[Unit]
Description=My price bot
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/home/telbot/venv/bin/python3 /home/telbot/price.py

[Install]
WantedBy=multi-user.target
